:root {
    --primary-text-color: #212121;
    --accent-color: #2196F3;

}

.body {
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    color: var(--primary-text-color)
}

.header {
    
}

.button {
    background-color: #2196F3;
    color: #ffffff;
}

ul {
    list-style: none;
}

.page {
    background-color: #ffffff;
    color: #212121;
}

.button {
    color: #ffffff;
    background-color: #ffffff;
}

.logo-icon {
    color: #2196F3;
}

.title {

}

.subtitle {

}

.section {
}

.section-title {
    color: #212121;
}